body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-eb-garamond: "EB Garamond";
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-31xl: 50px;
    --font-size-11xl: 30px;
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-xl-5: 20.5px;
    --font-size-base: 16px;
    --font-size-6xl-6: 25.6px;
    --font-size-6xl: 25px;
    --font-size-16xl: 35px;
    --font-size-2xl: 21px;
    --font-size-9xl: 28px;
    --font-size-3xl: 22px;
    --font-size-lg: 18px;
    --font-size-lg-9: 18.9px;
    --font-size-13xl: 32px;
  
    /* Colors */
    --color-white: #fff;
    --color-indigo-100: #5f259e;
    --color-indigo-200: #470f83;
    --color-slateblue: #7a42b5;
    --color-limegreen: #00d100;
    --color-black: #000;
    --color-midnightblue: #36135c;
    --color-whitesmoke: #ececec;
  
    /* Gaps */
    --gap-31xl: 50px;
    --gap-6xl: 25px;
    --gap-15xl: 34px;
    --gap-mid: 17px;
    --gap-lg: 18px;
    --gap-xl: 20px;
    --gap-2xs: 11px;
    --gap-3xs: 10px;
    --gap-36xl: 55px;
    --gap-8xl: 27px;
    --gap-9xl: 28px;
    --gap-xs: 12px;
    --gap-10xl: 29px;
    --gap-14xl: 33px;
    --gap-5xl: 24px;
    --gap-3xl: 22px;
    --gap-16xl: 35px;
    --gap-35xl: 54px;
    --gap-2xl: 21px;
    --gap-20xl: 39px;
    --gap-47xl: 66px;
    --gap-base: 16px;
    --gap-87xl: 106px;
    --gap-34xl: 53px;
    --gap-7xl: 26px;
    --gap-4xl: 23px;
    --gap-smi: 13px;
    --gap-lgi: 19px;
    --gap-8xs: 5px;
  
    /* Paddings */
    --padding-47xl: 66px;
    --padding-14xl: 33px;
    --padding-51xl: 70px;
    --padding-26xl: 45px;
    --padding-3xs: 10px;
    --padding-mini: 15px;
    --padding-5xs: 8px;
    --padding-6xs: 7px;
    --padding-lgi: 19px;
    --padding-10xl: 29px;
    --padding-12xl: 31px;
    --padding-23xl: 42px;
    --padding-xl: 20px;
    --padding-32xl: 51px;
    --padding-6xl: 25px;
    --padding-45xl: 64px;
    --padding-13xl: 32px;
    --padding-9xl: 28px;
    --padding-8xl: 27px;
    --padding-xs: 12px;
    --padding-11xl: 30px;
    --padding-2xl: 21px;
    --padding-28xl: 47px;
    --padding-3xl: 22px;
    --padding-12xs: 1px;
    --padding-mid: 17px;
    --padding-27xl: 46px;
    --padding-lg: 18px;
    --padding-22xl: 41px;
    --padding-16xl: 35px;
    --padding-4xs: 9px;
    --padding-7xl: 26px;
    --padding-smi: 13px;
    --padding-4xl: 23px;
    --padding-43xl: 62px;
    --padding-17xl: 36px;
    --padding-base: 16px;
    --padding-8xs: 5px;
    --padding-31xl: 50px;
    --padding-10xs: 3px;
    --padding-37xl: 56px;
    --padding-18xl: 37px;
    --padding-11xs: 2px;
    --padding-5xl: 24px;
    --padding-20xl: 39px;
    --padding-21xl: 40px;
    --padding-53xl: 72px;
  
    /* Border radiuses */
    --br-21xl: 40px;
    --br-61xl: 80px;
    --br-31xl: 50px;
    --br-28xl-3: 47.3px;
    --br-xl: 20px;
  }
  